<div class="loginconatiner" id="loginpopup" >
<div class="modal-dialog">
	<div class="loginhead">
		<h1 class="modal-title"id="myModalLabel">Sign In</h1>
		<span><a href="#"><button data-dismiss="modal" class="closebtn"></button></a></span>
		<h3>Dont have an account, <a href="#signup">SIGN UP</a></h3>	
	</div>

	<div class="login">
			<form method="post" action="#"> 
				<ul>
					<li><label for="name">Username</label></li>
					<li><input class="input" type="text" name="username" requierd></li>
					<li><label for="password">Password</label></li>
					<li><input class="input" type="password" name="password" requierd></li>
					<li><a href="#" class="forgot">Forgot Password</a>
					<input class="submit1" type="submit" value="SUbmit"></li>
				</ul>
			</form>
	</div>
	<div class="line"></div>
	<div class="socialform1">
			<ul>
			<li><input type="submit" value="Sign In with facebook" class="facebook"></li>
			<li><input type="submit"  value="Sign In with google" class="google"></li>
			<li><input type="submit" value="Sign In with twitter"class="twitter"></li>
		</ul>		
	</div>
	</div>
</div>